<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row row-cols-1 row-cols-md-5 mb-3 text-center">
        <div class="col" th:fragment="forecast (forecast)">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal" th:text="${forecast.city}"></h4>
                </div>
                <div class="card-body">
                    <form action="/delete" method="post">
                        <p class="card-text text-start m-0">Country: <span class="fw-semibold" th:text="${forecast.sysCountry}"></span></p>
                        <p class="card-text text-start m-0">Short description: <span class="fw-semibold" th:text="${forecast.description}"></span></p>
                        <p class="card-text text-start m-0">Temp: <span class="fw-semibold" th:text="${forecast.mainTemp}"></span> C</p>
                        <p class="card-text text-start m-0">Pressure: <span class="fw-semibold" th:text="${forecast.mainPressure}"></span> hPa</p>
                        <p class="card-text text-start m-0">Humidity: <span class="fw-semibold" th:text="${forecast.mainHumidity}"></span> %</p>
                        <p class="card-text text-start m-0">Visibility: <span class="fw-semibold" th:text="${forecast.visibility}"></span> m</p>
                        <p class="card-text text-start m-0">Wind speed: <span class="fw-semibold" th:text="${forecast.windSpeed}"></span> m/s</p>
                        <p class="card-text text-start m-0">Wind gust: <span class="fw-semibold" th:text="${forecast.windGust}"></span> m/s</p>
                        <p class="card-text text-start m-0">Sunrise: <span class="fw-semibold" th:text="${forecast.sysSunrise}"></span></p>
                        <p class="card-text text-start m-0">Sunset: <span class="fw-semibold" th:text="${forecast.sysSunset}"></span></p>
                        <input type="hidden" name="location-id" th:value="${forecast.locationId}">
                        <button type="submit" class="w-100 btn btn-lg btn-primary mt-3">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>